@tailwind base;
@tailwind components;
@tailwind utilities;


html{
  overflow: hidden;
}

#root {
  height: 100vh;
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .backgr {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.35);  
  }
}

@layer components {
  .menuclicked {
    @apply rounded-xl p-4 transition-colors duration-500;
  }
  .menuprop{
    @apply rounded-xl p-4 transition-colors duration-500;
  }

}